.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "header header header"
  "nav content content";
  grid-template-rows: 60px 1 fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-content {
  grid-area: content;
  background-color: cornflowerblue;
}